@import 'tailwindcss';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';
@import '@fontsource-variable/geist';
@import '@fontsource-variable/geist-mono';

@theme inline {
  --font-geist: 'Geist Variable';
  --font-geist-mono: 'Geist Mono Variable';
  --default-font-family: var(--font-geist);
}

@layer base {
  html {
    @apply scrollbar-gutter-stable;
  }

  body {
    @apply text-base font-normal;

    &[data-scroll-locked] {
      @apply mr-0!;
      --removed-body-scroll-bar-size: 0px !important;
    }
  }

  code {
    @apply font-geist-mono text-sm;
  }
}
